{% extends "polls/layout.html" %}

{% load crispy_forms_tags %}

{% block titulo %} Registro {% endblock titulo %}

{% block conteudo %}

    <div class="container w-75">

        <form action="/polls/altera/" method="post" class="m-3">
            {% csrf_token %}

            <div class="row">
                <div class="form-group col-md-6">
                  {{ usuario_form.first_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                  {{ usuario_form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-*">
                    {{ usuario_form.email|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                  {{ profile_form.sexo|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                  {{ profile_form.data_nascimento|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-*">
                    {{ usuario_form.is_active|as_crispy_field }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Alterar</button>

        </form>
    </div>

{% endblock conteudo %}